.sign-container {
    position: relative;
    width: 228px;
    height: 127px;
    padding: 10px 0 0 0;
}

.sign-board {
    position: relative;
    width: 228px;
    height: 69px;
    background: #FEBFFF;
    box-shadow: 0px 4px 4px #231924;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.sign-hole {
    position: absolute;
    width: 15px;
    height: 14px;
    background: #231924;
    border-radius: 50%;
    top: 12px;
}

.sign-hole-left {
    left: 16px;
}

.sign-hole-right {
    right: 16px;
}

.sign-rope {
    position: absolute;
    width: 10px;
    height: 65px;
    background: #FFD215;
    box-shadow: 0px 4px 4px #231924;
    border-radius: 5px;
    z-index: 1;
}

.sign-rope-left {
    left: 9px;
    top: -30px;
    transform: rotate(-20deg);
}

.sign-rope-right {
    right: 9px;
    top: -30px;
    transform: rotate(20deg);
}

.sign-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #7F1E87;
}

@media (max-width: 480px) {
    .sign-container {
        width: 180px;
        height: auto;
    }

    .sign-board {
        width: 180px;
        height: 50px;
    }

    .sign-text {
        font-size: 14px;
    }

    .sign-hole,
    .sign-rope {
        display: none;
    }
}