.timer-card {
    background-color: #FEBFFF;
    border-radius: 40px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 8px 16px rgba(35, 25, 36, 0.3);
    width: 600px;
    max-width: 95%;
    overflow: visible;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .timer-card {
        width: 95%;
        padding: 20px;
        margin: 10px;
    }
}

.timer-footer {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #7F1E87;
}

.timer-footer a {
    color: #7F1E87;
    font-weight: 600;
    text-decoration: none;
}

.timer-footer a:hover {
    text-decoration: underline;
}