.decorations {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
}

.deco {
    position: absolute;
    opacity: 1;
}

.star-left-1 { top: 5%; left: 2%; width: 200px; transform: rotate(-15deg); }
.star-left-2 { top: 35%; left: -5%; width: 250px; transform: rotate(10deg); }
.star-left-3 { top: 70%; left: -2%; width: 180px; transform: rotate(-20deg); }

.fish-left { top: 5%; left: 20%; width: 200px; transform: rotate(70deg); }

.star-right-1 { top: -5%; left: 70%; width: 220px; transform: rotate(15deg); }
.star-right-2 { top: 40%; right: -3%; width: 200px; transform: rotate(-10deg); }
.star-right-3 { top: 70%; left: 80%; width: 180px; transform: rotate(20deg); }

.fish-right-1 { top: 40%; left: 70%; width: 200px; transform: rotate(-20deg); }
.fish-right-2 { top: 65%; left: 15%; width: 200px; transform: rotate(15deg); }

@media (max-width: 768px) {
    .deco {
        opacity: 1;
        transform: scale(0.6);
    }
}

@media (max-width: 480px) {
    .decorations {
        display: none; 
    }
}