.cat-container {
    display: flex;
    justify-content: center;
    pointer-events: none;
    position: relative;
    z-index: 5;
    margin-top: 0px;
    overflow: visible;
}

.cat-animation {
    width: 350px;
    height: auto;
}

@media (max-width: 768px) {
    .cat-animation {
        width: 200px;
    }
}