.app {
  min-height: 100vh;
  background-color: #231924;
  padding: 0px;
  position: relative;
}

.app-header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 20px 20px 20px;
  position: relative;
  z-index: 10;

}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  .app-header-row {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
  }
}