* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

#root {
  min-height: 100vh;
  overflow-x: hidden;
}